.selected-modal {
  .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 12.5px 14px;
  }
  .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
    font-size: 13px;
  }
}
.css-jd8m49-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  border: none;
  outline: none;
}
