.homepage-carousel {
  overflow: hidden;
  .css-9tkcok-MuiPaper-root {
    box-shadow: none;
  }
  .css-1m9128y,
  .css-hn784z,
  .css-1abc02a:hover {
    display: none;
  }
  .image-paper {
    box-sizing: border-box;
    img {
      background-repeat: no-repeat;
      background-size: contain;
      background-attachment: fixed;
    }
  }
}
